img {
    width: 100px;
    height: 100px;
}
.navegador h1 {
    flex-grow: 1;
}
.navegador nav {
    float: right;
}
.navegador {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 10px;
    padding: 10px;
}
header{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}
footer .container {
    display: flex;
    flex-wrap: wrap;
}
footer ul{
    flex-basis: 50%;
    margin-bottom: 20px;
}
footer h5{
    flex-basis: 100%;
}
footer ul li a {
    color: #fff;
    text-decoration: none;
}
footer ul li a:hover{
    color: #99ccff;
}
footer p {
    margin: 0;
}
header h1{
    margin: 0;
}
nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav ul li a {
    color: #99ccff;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    padding-right: 40px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #4caf50;
}
input[type="reset"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color:rgb(108, 108, 255);
}
.vinculador {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color:rgb(250, 73, 73);
}
.navegador .navar {
  display: inline-block;
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  margin-right: 10px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-decoration: none;
  text-align: center;
  width: 100px; /* Ajusta el ancho según sea necesario */
}

.navegador .navar:hover {
  background-color: #333;
  color: #fff;
}