body{
    background-color: #f0f0f0; /*aliceblue;*/
    color: rgb(45, 52, 53);
}

/* Cabecera - Ortiz */
  .header{
    background: #529bb8;
    color: rgb(43, 43, 43);
    padding: 2rem 0;
    z-index: 10;
  
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .header a{
    color: rgb(43, 43, 43);
    text-decoration: none;
  }
  
  .logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    letter-spacing: 5px;
    font-size: 2.2em;
  }
  
  .logo-desc{
    display: flex;
    color: #777;
  }
  
  .nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav ul li{
    display: inline-block;
  }
  
  .nav ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
  }
  
  .nav ul li a:hover{
    color: rgb(43, 43, 43);
    background-color: #7fabbd;
  }
  
  .form-container{
    margin-top: 12%;
  }

  .content-table { 
    text-align: center;
    margin: 0 auto;
    border: 3px solid #c8e6c9;
    border-collapse: collapse;
    border-spacing: 0; 
    margin-top: 2%;
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
  }

  th, td {
    text-align: center;
    border: 1px solid #c8e6c9;
  }

  .content-table thead tr { 
    background-color: #88db80; 
    color: #ffffff; 

  }

  .content-table th, .content-table td { 
    padding: 12px 8.5px; 
  }

  .content-table tbody tr { 
    border-bottom: 1px solid #dddddd; 
  
  } 
  .content-table tbody tr:nth-of-type(even) { 
    background-color: #f3f3f3; 
  } 

  .content-table tbody tr:last-of-type { 
    border-bottom: 2px solid #88db80; 
  }

  .button-back{
    margin-top: 10%;
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: #b6b6b6;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    transition: all 0.4s linear;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #000000;
    background-color: #8f8f8fa4;
  }

  .main-title{
    padding-left: 8rem;
    font: bold;
    color: black;
    font-size: 20px;
  }

  .main-desc{
    padding-left: 8rem;
    font:large;
    font-size: 15px;
  }

  .main-text{
    display: inline-block;
    vertical-align: top;
  }
  
  fieldset {
    margin-bottom: 1.5rem;
    border: 1px solid #dee2e6;
    padding: 1rem;
    border-radius: 0.25rem;
  }

  legend {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .footer > .row {
    padding-left: 15px;
    padding-right: 15px;

  }

  .footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #f7f7f7;
  }

  a {
    text-decoration: none;
  }

  nav {
    background-color: #529BB8;
  }
  
  .my-6 {
    margin-top: 260px !important;
  }
  fieldset {
   border-color: lightgray;
   border-width: 2px;
  }
