<footer class="footer container-fluid">
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="copyright pull-left">
         <a target="_blank" rel="noopener noreferrer" href="http://www.gnu.org/copyleft">Copyleft</a> &#169; 2023
         <a target="_blank" rel="noopener noreferrer" href="mailto:benjhito112@gmail.com">Benjamín Emanuel Tito</a>
       </div>
    </div>
    <div class="col-md-6">
       <div id="poweredBy" class="pull-right">
       	 <a target="_blank" rel="noopener noreferrer" href="https://escmi.unju.edu.ar/">Escuela de Minas Dr. Horacio Carrillo</a>
       </div>
     </div>
  </div>
</footer>