<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Formulario Especialidad</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
     <!-- Cabecera - Ortiz -->
     <header class="header">
      <div class="container-h logo-nav-container">
        <a href="#" class="logo">UMBRELLA'S HOSPITAL</a>
        <nav class="nav">
          <ul>
            <li><a href="/index">Inicio</a></li>
            <div class="dropdown">
              <li><a href="#">Formularios</a></li>
              <div class="dropdown-content">
                <a href="/formMedico">Medicos</a>
                <a href="/formPaciente">Pacientes</a>
                <a href="/formServicio">Servicio</a>
                <a href="/formEspecialidad">Especialidad</a>
              </div>
            </div>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
      </div>
    </header>
  <body>

    <div class="form-container">
      <form th:object="${especialidad}" th:action="@{/listaEspecialidades}" method="post">
        <input type="hidden" th:field="*{id_especialidad}">
        <label>Nombre: </label>
        <input type="text" th:field="*{nombre}">
        <label>Descripcion: </label>
        <input type="text" th:field="*{descripcion}">
        <a href="/index">VOLVER</a>
        <input type="reset" value="RESTAURAR">
        <input type="submit" value="REGISTRAR">
      </form>
    </div>
  
  </body>
</html>