<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Formulario Especialidad</title>
  </head>
  <body>
    <form th:object="${especialidad}" th:action="@{/mostrarFormEspecialidad}" method="post">
     <input type="hidden" th:field="*{id_especialidad}">
      <fieldset>
        <legend>Información general</legend>
        <div>
          <label for="nombre">Nombre: </label>
          <input type="text" id="nombre" name="nombre" th:field="*{nombre}" th:value="${especialidad.nombre}" required>
        </div>
        <div>
          <label for="descripcion">Descripcion: </label>
          <input type="text" id="descripcion" name="descripcion" th:field="*{descripcion}" th:value="${especialidad.descripcion}" required>
        </div>
      </fieldset>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
     </form>
  </body>
</html>