<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Formulario Paciente_Servicio</title>
  </head>
  <body>
    <form th:object="${paciente_servicio}" th:action="@{/listaPacientes_Servicios}" method="post">
      <input type="hidden" th:field="*{id_paciente_servicio}">
      <fieldset>
        <legend>Información General</legend>
        <div>
          <label for="paciente">Paciente: </label>
          <input type="text" id="paciente" name="paciente" th:field="*{paciente}" th:value="${paciente_servicio.paciente}" required>
        </div>
        <div>
          <label for="servicio">Servicio: </label>
          <input type="text" id="servicio" name="servicio" th:field="*{servicio}" th:value="${paciente_servicio.servicio}" required>
        </div>
        <div>
          <label for="fecha">Fecha: </label>
          <input type="date" id="fecha" name="fecha" th:field="*{fecha}" th:value="${paciente_servicio.fecha}" required>
        </div>
      </fieldset>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
     </form>
  </body>
</html>