<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Formulario Medico</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
     <!-- Cabecera - Ortiz -->
     <header class="header">
      <div class="container-h logo-nav-container">
        <a href="#" class="logo">UMBRELLA'S HOSPITAL</a>
        <nav class="nav">
          <ul>
            <li><a href="/index">Inicio</a></li>
            <div class="dropdown">
              <li><a href="#">Formularios</a></li>
              <div class="dropdown-content">
              <a href="/formMedico">Medicos</a>
              <a href="/formPaciente">Pacientes</a>
              <a href="/formServicio">Servicio</a>
              <a href="/formEspecialidad">Especialidad</a>
              </div>
            </div>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
      </div>
    </header>
  <body>
    
    <div class="form-container">
      <form th:object="${medico}" th:action="@{/listaMedicos}" method="post">
        <input type="hidden" th:field="*{id_medico}">
        <fieldset>
          <legend>Información personal</legend>
          <div>
            <label for="nombres">Nombre(s): </label>
            <input type="text" id="nombres" name="nombres" th:field="*{nombres}" th:value="${medico.nombres}" required>
          </div>
          <div>
            <label for="apellidos">Apellido(s): </label>
            <input type="text" id="apellidos" name="apellidos" th:field="*{apellidos}" th:value="${medico.apellidos}" required>
          </div>
          <div>
            <label for="dni">DNI: </label>
            <input type="number" id="dni" name="dni" th:field="*{dni}" th:value="${medico.dni}" required>
          </div>
          <div>
            <label for="fecha_nacimiento">Fecha de Nacimiento: </label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" th:field="*{fecha_nacimiento}" th:value="${medico.fecha_nacimiento}" required>
          </div>
        </fieldset>
  
        <fieldset>
          <legend>Información de contacto</legend>
          <div>
            <label for="email">Correo electrónico: </label>
            <input type="email" id="email" name="email" th:field="*{email}" th:value="${medico.email}">
          </div>
          <div>
            <label for="telefono">Teléfono: </label>
            <input type="tel" id="telefono" name="telefono" th:field="*{telefono}" th:value="${medico.telefono}">
          </div>
          <div>
            <label for="domicilio">Domicilio: </label>
            <input type="text" id="domicilio" name="domicilio" th:field="*{domicilio}" th:value="${medico.domicilio}">
          </div>
          </fieldset>
  
          <fieldset>
            <legend>Información laboral</legend>
            <div>
              <label for="legajo">Legajo: </label>
              <input type="number" id="legajo" name="legajo" th:field="*{legajo}" th:value="${medico.legajo}" required>
            </div>
            <div>
              <label for="fecha_ingreso">Fecha de Ingreso: </label>
              <input type="date" id="fecha_ingreso" name="fecha_ingreso" th:field="*{fecha_ingreso}" th:value="${medico.fecha_ingreso}" required>
            </div>
            <div>
              <label for="especialidad">Especialidad: </label>
              <select id="especialidad" name="especialidad" th:field="*{especialidad}" required>
                <option th:each="especialidad:${listadoEspecialidades}" th:value="${especialidad.id_especialidad}" th:text="${especialidad.nombre}" th:selected="${especialidad?.id_especialidad == medico.especialidad?.id_especialidad}"></option>
              </select>
            </div>
          </fieldset>
  
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
       </form>
    </div>
  </body>
</html>