<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Formulario Especialidad</title>
  </head>
  <body>
    <form th:object="${especialidad}" th:action="@{/listaEspecialidades}" method="post">
      <label>Nombre: </label>
      <input type="text" th:field="*{nombre}"> <br>
      <label>Descripcion: </label>
      <input type="text" th:field="*{descripcion}"> <br>
      <a href="/index">VOLVER</a>
      <input type="reset" value="RESTAURAR">
      <input type="submit" value="REGISTRAR">
    </form>
  </body>
</html>