<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Pagina Principal</title>
  </head>
  <body>
	<form th:object="${paciente}" th:action="@{/login}" method="post">
	  <label for="email">Correo Electronico: </label>
	  <input type="text" id="email" name="email" th:field="*{email}" required> <br>
	  <label for="clave">Password: </label>
	  <input type="password" id="clave" name="clave" th:field="*{clave}" required> <br>
	  <input type="submit" value="INGRESAR">
	</form>
  </body>
</html>