<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Pagina Principal</title>
  </head>
  <body>
  	<button th:action="@{/login}">Log In</button>
	<form th:object="${usuario}" th:action="@{/home}" method="post">
	  <label for="email">Correo Electronico: </label>
	  <input type="text" id="email" name="email" th:field="*{email}" th:value="${paciente.email}" required> <br>
	  <label for="clave">Password: </label>
	  <input type="text" id="clave" name="clave" th:field="*{clave}" required> <br>
	</form>
  </body>
</html>