<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Formulario Paciente</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
     <!-- Cabecera - Ortiz -->
     <header class="header">
      <div class="container-h logo-nav-container">
        <a href="#" class="logo">UMBRELLA'S HOSPITAL</a>
        <nav class="nav">
          <ul>
            <li><a href="/index">Inicio</a></li>
            <div class="dropdown">
              <li><a href="#">Formularios</a></li>
              <div class="dropdown-content">
                <a href="/formMedico">Medicos</a>
                <a href="/formPaciente">Pacientes</a>
                <a href="/formServicio">Servicio</a>
                <a href="/formEspecialidad">Especialidad</a>
              </div>
            </div>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
      </div>
    </header>
	<a style="text-align:center; color:red">Iniciar Sesion</a>
    <div class="form-container">
      <img src="img/medico.jpg" alt="">
      <div class="main-text">
        <div class="main-title">
          ¡BIENVENIDO A UMBRELLA'S HOSPITAL!
        </div>
        <div class="main-desc">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </div>
        <ul>
          <li><p><a href="login" style="text-align:center; color:red">Iniciar Sesion</a></p></li>
          <li><p></p></li>
          <li><p></p></li>
          <li><p></p></li>
        </ul>
      </div>
    </div>
  </body>
</html>