<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Lista de Paciente_Servicio</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Paciente</th>
		  <th>Servicio</th>
		  <th>Fecha</th>
		  <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="paciente_servicio : ${listadoPaciente_Servicio}">
          <td th:text="${paciente_servicio.id_paciente_servicio}"></td>
          <td th:text="${paciente_servicio.paciente}"></td>
          <td th:text="${paciente_servicio.servicio}"></td>
          <td th:text="${paciente_servicio.fecha}"></td>
        
          <td>
            <form th:action="@{/editarPaciente_Servicio/{id}(id=${paciente_servicio.id_paciente_servicio})}" method="post">
              <button type="submit">Editar</button>
            </form>
  
            <form th:action="@{/eliminarPaciente_Servicio}" method="post">
              <input type="hidden" name="id_paciente_servicio" th:value="${paciente_servicio.id_paciente_servicio}">
              <button type="submit">Eliminar</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>