<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Lista de Medicos</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombres</th>
		  <th>Apellidos</th>
		  <th>DNI</th>
		  <th>Legajo</th>
		  <th>e-mail</th>
		  <th>Telefono</th>
		  <th>Fecha de Nacimiento</th>
		  <th>Fecha de Ingreso</th>
		  <th>Domicilio</th>
		  <th>Especialidad</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="medico : ${listaMedicos}">
          <td th:text="${medico.id_medico}"></td>
          <td th:text="${medico.nombres}"></td>
          <td th:text="${medico.apellidos}"></td>
          <td th:text="${medico.dni}"></td>
          <td th:text="${medico.legajo}"></td>
          <td th:text="${medico.email}"></td>
          <td th:text="${medico.telefono}"></td>
          <td th:text="${medico.fecha_nacimiento}"></td>
          <td th:text="${medico.fecha_ingreso}"></td>
          <td th:text="${medico.domicilio}"></td>
          <td th:text="${medico.especialidad}"></td>
  
          <td>
            <form th:action="@{/editarMedico/{id}(id=${medico.id_medico})}" method="post">
              <button type="submit">Editar</button>
            </form>
  
            <form th:action="@{/eliminarMedico}" method="post">
              <input type="hidden" name="id_medico" th:value="${medico.id_medico}">
              <button type="submit">Eliminar</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>